@import '../../assets/styles/variables';

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  padding: 8px 16px;
  border-radius: $border-radius;
  cursor: pointer;
  margin: 0 5px;
  &:disabled {
    background-color: #888;
    cursor: not-allowed;
  }
}
