@use '../../../assets/styles/variables' as style;

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
  text-align: center;
  color: style.$accent-color;
  h1 {
    font-size: 5rem;
  }
  p {
    font-size: 2rem;
  }
}