@use '../../../assets/styles/style' as style;

.card {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 450px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.image {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  @media (min-width: 768px) {
    width: 200px;
  }
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: style.$secondary-color;

}

.name {
  font-size: 1.5rem;
  margin-bottom: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.info {
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: #ddd;

  .status {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    &.alive {
      color: greenyellow;
    }
    &.dead {
      color: #dc3545;
    }

    &.unknown {
      color: #ffc107;
    }
  }
}


.favoriteButton {
  background-color: greenyellow;
  color: black;
  border: 1px solid #2e7d32;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-self: flex-start;

  &:hover {
    background-color: limegreen;
  }

  &.isFavorite {
    background-color: #c62828;
    border: 1px solid #b71c1c;
    &:hover {
      background-color: #b71c1c;
    }
  }
}
