@forward './variables.scss';
@use './variables.scss' as style;

body {
  font-family: style.$font-family;
  margin: 0;
  padding: 0;
  background-color: style.$secondary-color;
  color: style.$primary-color;
  background-image: url('images/rick-and-morty-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
}