@import '../../../assets/styles/variables';
.container {
  max-width: 100%;
  margin: 0 auto;
  // padding: 20px; <- убираем
}
.home{
  display: flex;
  flex-direction: column;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  gap: 10px;
  .button {
    background-color:greenyellow;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: lighten($accent-color, 10%) ;

    }
    &:not(:disabled):hover {
      background-color:limegreen;
    }
  }
}